:root {
    --bg-color: #0d1117;
    --container-bg: #161b22;
    --text-color: #c9d1d9;
    --link-color: #58a6ff;
    --button-bg: #4e3498;
    --button-hover-bg: #4e3498;
    --input-border: #30363d;
    --submit-bg: #4e3498;
    --submit-hover-bg: #4e3498;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: rgba(22, 27, 34, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: var(--text-color);
}

p {
    margin-bottom: 20px;
    color: var(--text-color);
}

.buttons {
    margin-top: 10px;
}

.buttons a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: var(--button-bg);
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.buttons a:hover {
    background-color: var(--button-hover-bg);
}

form label {
    display: block;
    margin: 10px 0 5px;
    color: var(--text-color);
    text-align: left;
}

form input, form select {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    background-color: var(--container-bg);
    color: var(--text-color);
}

button {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: var(--button-bg);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button-hover-bg);
}

a {
    color: var(--link-color);
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

a:hover {
    text-decoration: underline;
}

ul li .score {
    color: #f40202;
    font-weight: bold;
}
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
